html {
  font-size: 14px;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  background-color: #333;
  margin: 0;
  padding: 10px;
  color: #fff;
}

.center-container {
  width: 60%;
}

.left-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 20%;
  text-align: left;
}

.right-container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 30%;
  text-algin: right;
}

.right-container > .row {
  margin: 10px;
}

input[type="number"] {
  border: 0;
  border-bottom: 1px solid black;
  margin: 5px;
}

input[type="number"]:focus {
  outline: 0;
}

.dice-sides-input {
  width: 40px;
}

.add-dice-sides,
.add-dice-number {
  width: 60px;
}

.roll {
  transform: rotate(720deg);
  transition: all 500ms ease-in-out;
}

.dice-inner-wrapper {
  border: 3px solid #000;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin: 10px 1px;
}

.dice-wrapper.ng-enter {
  animation: 500ms rollIn;
}

.dice-wrapper.ng-leave {
  animation: 500ms rollOut;
}

.dice-result {
  font-size: 2rem;
  font-weight: bold;
}

.dice-sides {
  color: #686868;
  font-weight: 100;
  padding: 0 5px;
}

hr {
  border: 1px solid #686868;
  margin: 0 20px;
}

.stat-result {
  font-size: 1.5em;
}

/* desktops and laptops */
@media (min-width: 768px) {

}

/* tablets */
@media (max-width: 768px) {

}

/* phones */
@media (max-width: 480px) {
  .row {
    margin-left: -30px;
  }

  .center-container {
    width: 80%;
  }

  .right-container {
    width: 30%;
  }
}
